:root {
  --primary-bg-color: bisque;
}

body {
  max-width: 100%;
  max-height: fit-content;
  background-color: var(--primary-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
#content{
  margin: 5%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cube{
  height: 100%;
}
#root{
  height: 100%;
}
/* Top navigation bar */
nav h1{
  padding: 0%;
  margin: 0%;
  color: #c4c1c1;
}

nav {
  display: flex;
  background-color: #333;
}
@media (max-width:770px) {
  nav {
  display: block;
  }
}
/* Navigation bar links */
nav a {
  color: white;
  padding: 1% 3%;
  text-decoration: none;
  text-align: center;
  font-size:20px;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}
.MainTitle{
  padding: 30px 40px;
  font-size: 150%
}
@media (max-width:470px) {
.MainTitle{
  padding: 30px 40px;
  font-size: 100%
  }
}

.homelist *{
  display:inline;
}

.homelist{
  padding-top: 1%;
  font-size: 100%;
  list-style-type: none
}

.homelist a {
  color: rgb(0, 0, 0);
  padding: 20px 60px;
  text-decoration: none;
  text-align: center;
  font-size: 200%;
}

.homelist p{
  font-size: 150%;
  z-index: 3;
}

.homelist a:hover {
  font-weight: bold;
}

.hide{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  color: #333333;

}
a:hover + .hide{
  visibility: visible;
  opacity: 1;
  
}
#me3d{
  z-index: -1
}

        .container_container{
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        div{
           /* background: linear-gradient(to right, rgb(236, 236, 255), rgb(127, 127, 245)); */
            -webkit-background-clip: text;
            background-clip: text;
            /* color: transparent; */
        }
        .title{
            font-size: 4em;
            text-align: center;
            margin: 5%;
        }
        .title p{
            font-size: .30em;
        }
        .container{
            top: 0%;
            display: flex; 
            width: 95%;
            height: 100%;
        }
        .containey{
            width: 100%
        }

        .projects a{
          all: unset;
          cursor: pointer
        }



        .projects{
            flex-direction: column;
        }
        .projects>a:nth-child(odd){
            background: rgba(128, 128, 128, 0.265);
        }

        .project{
            text-align: center;
            padding: 5%;
        }
        .all{
          padding: 0%;
          margin-left: 20%;
          margin-right: 20%;
        }
        @media (max-width: 479px) {
            .all {
              margin-left: 2%;
              margin-right: 2%;
            }
        }
        .project p{
            text-align: left;
        }
        .project>div{
            display: flex;
            align-items: center;
            flex-direction: row;
        }

        .project>div>div{
            width: 60%
        }

        .img{
            width: 75%;
            height: auto;
            object-fit: contain;
        }
        .big_img img{
            width: 75%;
            height: auto;
            object-fit: contain;
        }
        .imgp{
            text-align: center;
            font-size: 10px;
            margin: 0%;
            color: rgb(0, 0, 0);
            font-weight: normal;
        }