body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    margin: 0;
    height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cube{
  height: 100%;
}
#root{
  height: 100%;
}
/* Top navigation bar */
nav {
  display: flex;
  background-color: #333;
}

/* Navigation bar links */
nav a {
  color: white;
  padding: 20px 60px;
  text-decoration: none;
  text-align: center;
  font-size: large;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}
.MainTitle{
  padding: 30px 40px;
  font-size: 150%
}
.ThisMe{
  position: fixed;
  right: 10%;
  top: 80%
}